.ao__brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ao__brand div {
  max-width: 150px;
  min-width: 60px;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
